---
layout: page
title: "We ship ponies."
header-background: url(/images/placeholders/dlanham-skullbot-takes-a-break.jpg)
color: white
---
<header id="placeholder">
  <div class="container">
    <h1>Read our Blog.</h1>
    <p>It fills our heart with sunshine when you smile smile smile.</p>
  </div>
</header>
<section id="home">
  <div class="container">
    <ul class="posts">
      {% for post in site.categories['blog'] %}
        <li>
          <a href="{{ post.url }}" class="title">{{ post.title }}</a>
          <div class="meta">{% if post.author %} <i class="icon-board"><span class="screen-reader">written</span></i> by <a href="/pony/{{ post.author }}">{{ post.author }}</a>{% endif %} <i class="icon-event"><span class="screen-reader">posted</span></i> on <span>{{ post.date | date_to_string }}</span></div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>