<a href="#top" class="screen-reader">Skip to Content</a>
<nav>
  <menu role="navigation" class="container">
    <a href="/" data-toggle="menu" class="orb"><i class="icon-rows"></i></a>
    <a href="/" class="logo">PonyDevs</a>
    <a href="/sites">Sites</a>
    <a href="/apps">Apps</a>
    <a href="/startups">Startups</a>
    <a href="/people">Ponies</a>
    <a href="/blog">Blog</a>
  </menu>
  <menu role="sidebar" class="sidebar">
    Your unique psuedonym is: <a href="http:" id="google" class="brand"><span class="firstname">Classy</span> <span class="lastname">Hooves</span></a>
  </menu>
</nav>
<a id="top" class="screen-reader">Content Starts Here</a>