// PMS Red 032 C
$rd-red: #EE4144;

// PANTONE 172 C
$rd-orange: #F37033;

// PANTONE 100 C
$rd-yellow: #FFFF9B;

// PANTONE 368 C
$rd-green: #62BC4D;

// PMS Process Blue C
$rd-blue: #1E98D3;

// PANTONE 526 C
$rd-purple: #672F89;

// Gradient
$rd-gradient: $rd-red 0%,$rd-red 16.66%,$rd-orange 16.67%,$rd-orange 33.33%,$rd-yellow 33.34%,$rd-yellow 50%,$rd-green 50.01%,$rd-green 66.66%,$rd-blue 66.67%,$rd-blue 83.33%,$rd-purple 83.34%,$rd-purple 100%;