// Scrollbar
::-webkit-scrollbar {
  height: 0;
  width: 12px;
  background-image: linear-gradient(to top, $rd-gradient), linear-gradient(to top,rgb(45, 71, 93),rgb(30, 56, 77));
  opacity: 0;
  margin: 4px;
  border: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.5);
  height: 8px;
  width: 8px;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 3px solid rgba(255,255,255,.5);
  @extend .transition;
  &:hover {
    background: rgba(10,152,226,.8); // transparent $rd-blue
  }
  &:active {
    background: $rd-blue;
  }
}